@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #27AAE1;
  border: 0.5px solid #27AAE1;
  border-radius: 15px;
}

h1 {
  font-weight: 500;
  font-size: 25px;
  padding: 5px 0;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 7px;
}

input{
  font-weight: 500;
  font-size: 25px;
  padding: 0.2em 0.8em;
  border-radius: 5px;
  border: 0.5px solid gray;
  width: 350px;
  @media (max-width: 800px) {
    text-align: center; 
}
}
input:focus{
  border: 1px solid #3231a7;
}

button {
  border-radius: 50px;
  border: 0.5px solid gray;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  color: #27AAE1;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #27AAE1;
  color: white;
  cursor: pointer;
}
button:disabled {
  background-color: gray;
  color: white;
}

